@namespace BlazorBlueprint.Components
@using BlazorBlueprint.Icons.Lucide.Components

<li class="@CssClass" @attributes="AdditionalAttributes">
    <div class="@ContentGridClass">
        @if (Align == TimelineAlign.Left)
        {
            @* Left: icon + content *@
            @IconColumn
            <div class="@ContentWrapperClass">@ContentBody</div>
        }
        else if (Align == TimelineAlign.Right)
        {
            @* Right: content + icon *@
            <div class="@ContentWrapperEndClass" data-timeline-end>@ContentBody</div>
            @IconColumn
        }
        else if (IsReversed)
        {
            @* Alternate odd: content (right-aligned) + icon + date *@
            <div class="@ContentWrapperEndClass" data-timeline-end>@ContentBody</div>
            @IconColumn
            @DateColumn
        }
        else
        {
            @* Center / Alternate even: date + icon + content *@
            @DateColumn
            @IconColumn
            <div class="@ContentWrapperClass">@ContentBody</div>
        }
    </div>
</li>

@code {
    private RenderFragment IconColumn => __builder =>
    {
        <div class="flex flex-col items-center self-stretch">
            <div class="@IconWrapperClass">
                @if (IconContent != null)
                {
                    @IconContent
                }
                else
                {
                    <BbTimelineIcon Color="@IconColor" Size="@IconSize" Status="@Status" Variant="@IconVariant" Loading="@Loading" />
                }
            </div>
            @if (ShowConnector)
            {
                <BbTimelineConnector Status="@Status" Color="@ConnectorColor" ConnectorStyle="@ConnectorStyle" Class="@ComputedConnectorClass" />
            }
        </div>
    };

    private RenderFragment DateColumn => __builder =>
    {
        <div class="@DateColumnClass">
            @if (TimeContent != null)
            {
                @TimeContent
            }
            else if (UseShorthand && Time != null)
            {
                <BbTimelineTime Class="text-right pr-4">@Time</BbTimelineTime>
            }
        </div>
    };

    private RenderFragment ContentBody => __builder =>
    {
        @if (UseShorthand)
        {
            <BbTimelineContent>
                <BbTimelineHeader>
                    <BbTimelineTitle>@Title</BbTimelineTitle>
                </BbTimelineHeader>
                @if (Description != null)
                {
                    <BbTimelineDescription>@Description</BbTimelineDescription>
                }
            </BbTimelineContent>
        }
        else if (IsCollapsible && DetailContent != null)
        {
            <BbCollapsible DefaultOpen="@DefaultOpen">
                <BbCollapsibleTrigger AsChild="false" Class="flex w-full items-center gap-2 cursor-pointer">
                    <div class="flex-1">
                        @ChildContent
                    </div>
                    <LucideIcon Name="chevron-down" Size="16" Class="transition-transform duration-200 group-data-[state=open]:rotate-180 shrink-0" />
                </BbCollapsibleTrigger>
                <BbCollapsibleContent>
                    @DetailContent
                </BbCollapsibleContent>
            </BbCollapsible>
        }
        else
        {
            @ChildContent
        }
    };
}
