@namespace BlazorBlueprint.Components.FormFieldCheckbox
@using BlazorBlueprint.Components.Checkbox
@using BlazorBlueprint.Components.Field
@inherits FormFieldBase

<Field Orientation="@EffectiveOrientation" IsInvalid="@IsInvalid" Class="@Class">
    @if (Label is not null && Orientation is FieldOrientation.Vertical)
    {
        <FieldLabel For="@ControlId">@Label</FieldLabel>
    }
    <FieldContent>
        @if (Orientation is FieldOrientation.HorizontalEnd or FieldOrientation.Horizontal)
        {
            <div class="flex items-center gap-2">
                @if (Orientation is FieldOrientation.Horizontal && Label is not null)
                {
                    <FieldLabel For="@ControlId">@Label</FieldLabel>
                }
                <Checkbox Id="@ControlId"
                          Checked="@Checked"
                          CheckedChanged="HandleCheckedChanged"
                          CheckedExpression="@CheckedExpression"
                          Indeterminate="@Indeterminate"
                          IndeterminateChanged="@IndeterminateChanged"
                          Disabled="@Disabled"
                          AriaLabel="@AriaLabel"
                          AriaDescribedBy="@DescribedById"
                          Class="@InputClass" />
                @if (Orientation is FieldOrientation.HorizontalEnd && Label is not null)
                {
                    <FieldLabel For="@ControlId">@Label</FieldLabel>
                }
            </div>
        }
        else
        {
            <Checkbox Id="@ControlId"
                      Checked="@Checked"
                      CheckedChanged="HandleCheckedChanged"
                      CheckedExpression="@CheckedExpression"
                      Indeterminate="@Indeterminate"
                      IndeterminateChanged="@IndeterminateChanged"
                      Disabled="@Disabled"
                      AriaLabel="@AriaLabel"
                      AriaDescribedBy="@DescribedById"
                      Class="@InputClass" />
            @if (Label is not null && Orientation is FieldOrientation.VerticalEnd)
            {
                <FieldLabel For="@ControlId">@Label</FieldLabel>
            }
        }
        @if (!string.IsNullOrEmpty(HelperText) && !IsInvalid)
        {
            <FieldDescription Id="@DescriptionId">@HelperText</FieldDescription>
        }
        @if (IsInvalid && !string.IsNullOrEmpty(ErrorText))
        {
            <FieldError Id="@ErrorId">@ErrorText</FieldError>
        }
        else if (HasEditContextErrors)
        {
            <FieldError Id="@ErrorId" Errors="@EditContextErrors" />
        }
    </FieldContent>
</Field>
