@typeparam TValue
@namespace BlazorBlueprint.Primitives.RadioGroup

<button
    @ref="buttonElement"
    id="@Id"
    type="button"
    role="radio"
    aria-checked="@IsChecked.ToString().ToLower()"
    aria-disabled="@IsDisabled.ToString().ToLower()"
    aria-label="@AriaLabel"
    data-state="@DataState"
    disabled="@IsDisabled"
    tabindex="@(IsDisabled ? -1 : (IsChecked ? 0 : -1))"
    @onclick="HandleClick"
    @onkeydown="HandleKeyDown"
    @onkeydown:preventDefault="shouldPreventDefault"
    @attributes="MergedAttributes">
    @ChildContent
</button>
