@namespace BlazorBlueprint.Components

<CascadingValue Value="@context" IsFixed="false">
    <div class="@ContainerCssClass" role="region" aria-label="Filter builder">
        <BbFilterGroup Group="@(draftFilter ?? Filter)"
                       Depth="0"
                       IsRoot="true" />

        @if (ShowApplyButton)
        {
            <div class="@ActionsCssClass">
                <BbButton Variant="ButtonVariant.Default"
                          Size="@(Compact ? ButtonSize.Small : ButtonSize.Default)"
                          OnClick="HandleApply">
                    Apply Filter
                </BbButton>
                <BbButton Variant="ButtonVariant.Outline"
                          Size="@(Compact ? ButtonSize.Small : ButtonSize.Default)"
                          OnClick="HandleClear">
                    Clear
                </BbButton>
            </div>
        }
    </div>
</CascadingValue>
