@inherits LayoutComponentBase
@using BlazorBlueprint.Primitives.Services
<PageTitle>BlazorBlueprint Demo</PageTitle>

<BbSidebarProvider DefaultOpen="true" HeightClass="h-screen">
    <BbSidebar Collapsible="true">
        <BbSidebarHeader>
            <BbSidebarMenu>
                <BbSidebarMenuItem>
                    <BbSidebarMenuButton AsChild="@SidebarMenuButtonElement.Anchor" Href="" Size="@SidebarMenuButtonSize.Large" class="data-[state=collapsed]:justify-center">
                        <div class="flex aspect-square size-8 items-center justify-center rounded-lg">
                            <img src="_content/BlazorBlueprint.Demo.Shared/images/b-icon-blueprint.png" alt="BlazorBlueprint" class="size-8 rounded-lg" />
                        </div>
                        <div class="grid flex-1 text-left text-sm leading-tight">
                            <span class="truncate font-semibold">Blazor Blueprint</span>
                        </div>
                    </BbSidebarMenuButton>
                </BbSidebarMenuItem>
            </BbSidebarMenu>
        </BbSidebarHeader>

        <BbSidebarContent>
            <!-- Top-level Navigation -->
            <BbSidebarGroup>
                <BbSidebarMenu>
                    <BbSidebarMenuItem>
                        <BbSidebarMenuButton AsChild="@SidebarMenuButtonElement.Anchor" Href="" Match="NavLinkMatch.All" Tooltip="Home">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                <polyline points="9 22 9 12 15 12 15 22"></polyline>
                            </svg>
                            <span>Home</span>
                        </BbSidebarMenuButton>
                    </BbSidebarMenuItem>

                    <BbSidebarMenuItem>
                        <BbSidebarMenuButton AsChild="@SidebarMenuButtonElement.Anchor" Href="architecture" Tooltip="Architecture">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <rect width="16" height="20" x="4" y="2" rx="2"></rect>
                                <path d="M8 6h8"></path>
                                <path d="M8 10h8"></path>
                                <path d="M8 14h5"></path>
                            </svg>
                            <span>Architecture</span>
                        </BbSidebarMenuButton>
                    </BbSidebarMenuItem>

                    <BbSidebarMenuItem>
                        <BbSidebarMenuButton AsChild="@SidebarMenuButtonElement.Anchor" Href="primitives" Tooltip="Primitives">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <rect width="18" height="18" x="3" y="3" rx="2"></rect>
                                <path d="M9 3v18"></path>
                            </svg>
                            <span>Primitives</span>
                        </BbSidebarMenuButton>
                    </BbSidebarMenuItem>

                    <BbSidebarMenuItem>
                        <BbSidebarMenuButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components" Tooltip="Components">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <rect width="18" height="18" x="3" y="3" rx="2"></rect>
                                <path d="M3 9h18"></path>
                                <path d="M9 21V9"></path>
                            </svg>
                            <span>Components</span>
                        </BbSidebarMenuButton>
                    </BbSidebarMenuItem>
                </BbSidebarMenu>
            </BbSidebarGroup>

            <!-- Primitives Section with Collapsible Submenu -->
            <BbSidebarGroup>
                <BbSidebarMenu>
                    <BbSidebarMenuItem>
                        <BbCollapsible Open="@_primitivesMenuOpen" OpenChanged="@OnPrimitivesMenuOpenChanged">
                            <BbSidebarMenuButton Tooltip="Primitives">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <rect width="18" height="18" x="3" y="3" rx="2"></rect>
                                    <path d="M9 3v18"></path>
                                </svg>
                                <span>Primitives</span>
                                <BbSidebarMenuChevron>
                                    <LucideIcon Name="chevron-right" Size="16" />
                                </BbSidebarMenuChevron>
                            </BbSidebarMenuButton>
                            <BbCollapsibleContent>
                                <BbSidebarMenuSub>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="primitives/accordion">
                                            <span>Accordion</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="primitives/checkbox">
                                            <span>Checkbox</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="primitives/collapsible">
                                            <span>Collapsible</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="primitives/dialog">
                                            <span>Dialog</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="primitives/dropdown-menu">
                                            <span>Dropdown Menu</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="primitives/hovercard">
                                            <span>Hover Card</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="primitives/label">
                                            <span>Label</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="primitives/popover">
                                            <span>Popover</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="primitives/radio-group">
                                            <span>Radio Group</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="primitives/select">
                                            <span>Select</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="primitives/sheet">
                                            <span>Sheet</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="primitives/switch">
                                            <span>Switch</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="primitives/table">
                                            <span>Table</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="primitives/tabs">
                                            <span>Tabs</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="primitives/tooltip">
                                            <span>Tooltip</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                </BbSidebarMenuSub>
                            </BbCollapsibleContent>
                        </BbCollapsible>
                    </BbSidebarMenuItem>
                </BbSidebarMenu>
            </BbSidebarGroup>

            <!-- Components Section with Collapsible Submenu -->
            <BbSidebarGroup>
                <BbSidebarMenu>
                    <BbSidebarMenuItem>
                        <BbCollapsible Open="@_componentsMenuOpen" OpenChanged="@OnComponentsMenuOpenChanged">
                            <BbSidebarMenuButton Tooltip="Components">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <rect width="18" height="18" x="3" y="3" rx="2"></rect>
                                    <path d="M3 9h18"></path>
                                    <path d="M9 21V9"></path>
                                </svg>
                                <span>Components</span>
                                <BbSidebarMenuChevron>
                                    <LucideIcon Name="chevron-right" Size="16" />
                                </BbSidebarMenuChevron>
                            </BbSidebarMenuButton>
                            <BbCollapsibleContent>
                                <BbSidebarMenuSub>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/accordion">
                                            <span>Accordion</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/alert">
                                            <span>Alert</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/alert-dialog">
                                            <span>Alert Dialog</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/aspect-ratio">
                                            <span>Aspect Ratio</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/avatar">
                                            <span>Avatar</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/badge">
                                            <span>Badge</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/breadcrumb">
                                            <span>Breadcrumb</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/button">
                                            <span>Button</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/button-group">
                                            <span>Button Group</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/calendar">
                                            <span>Calendar</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/card">
                                            <span>Card</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/carousel">
                                            <span>Carousel</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/checkbox">
                                            <span>Checkbox</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/checkbox-group">
                                            <span>Checkbox Group</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/collapsible">
                                            <span>Collapsible</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/color-picker">
                                            <span>Color Picker</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/combobox">
                                            <span>Combobox</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/currency-input">
                                            <span>Currency Input</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/command">
                                            <span>Command</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/context-menu">
                                            <span>Context Menu</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/datatable">
                                            <span>Data Table</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/date-picker">
                                            <span>Date Picker</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/date-range-picker">
                                            <span>Date Range Picker</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/dialog">
                                            <span>Dialog</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/dropdown-menu">
                                            <span>Dropdown Menu</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/drawer">
                                            <span>Drawer</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/empty">
                                            <span>Empty</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/field">
                                            <span>Field</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/file-upload">
                                            <span>File Upload</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/form-field-checkbox">
                                            <span>Form Field Checkbox</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/form-field-combobox">
                                            <span>Form Field Combobox</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/form-field-input">
                                            <span>Form Field Input</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/form-field-multi-select">
                                            <span>Form Field Multi Select</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/form-field-radio-group">
                                            <span>Form Field Radio Group</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/form-field-select">
                                            <span>Form Field Select</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/form-field-switch">
                                            <span>Form Field Switch</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/hovercard">
                                            <span>Hover Card</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/input">
                                            <span>Input</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/input-field">
                                            <span>Input Field</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/input-group">
                                            <span>Input Group</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/input-otp">
                                            <span>Input OTP</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/item">
                                            <span>Item</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/kbd">
                                            <span>Kbd</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/label">
                                            <span>Label</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/markdown-editor">
                                            <span>Markdown Editor</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/masked-input">
                                            <span>Masked Input</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/menubar">
                                            <span>Menubar</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/multiselect">
                                            <span>Multi Select</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/native-select">
                                            <span>Native Select</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/navigation-menu">
                                            <span>Navigation Menu</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/numeric-input">
                                            <span>Numeric Input</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/pagination">
                                            <span>Pagination</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/popover">
                                            <span>Popover</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/progress">
                                            <span>Progress</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/radio-group">
                                            <span>Radio Group</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/range-slider">
                                            <span>Range Slider</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/rating">
                                            <span>Rating</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/resizable">
                                            <span>Resizable</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/rich-text-editor">
                                            <span>Rich Text Editor</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/scroll-area">
                                            <span>Scroll Area</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/select">
                                            <span>Select</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/separator">
                                            <span>Separator</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/sheet">
                                            <span>Sheet</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/sidebar">
                                            <span>Sidebar</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/slider">
                                            <span>Slider</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/skeleton">
                                            <span>Skeleton</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/spinner">
                                            <span>Spinner</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/split-button">
                                            <span>Split Button</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/switch">
                                            <span>Switch</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/tabs">
                                            <span>Tabs</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/textarea">
                                            <span>Textarea</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/time-picker">
                                            <span>Time Picker</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/timeline">
                                            <span>Timeline</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/toast">
                                            <span>Toast</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/toggle">
                                            <span>Toggle</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/toggle-group">
                                            <span>Toggle Group</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/tooltip">
                                            <span>Tooltip</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="components/typography">
                                            <span>Typography</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                </BbSidebarMenuSub>
                            </BbCollapsibleContent>
                        </BbCollapsible>
                    </BbSidebarMenuItem>
                </BbSidebarMenu>
            </BbSidebarGroup>

            <!-- Charts Section with Collapsible Submenu -->
            <BbSidebarGroup>
                <BbSidebarMenu>
                    <BbSidebarMenuItem>
                        <BbCollapsible Open="@_chartsMenuOpen" OpenChanged="@OnChartsMenuOpenChanged">
                            <BbSidebarMenuButton Tooltip="Charts">
                                <LucideIcon Name="bar-chart-3" Size="18" />
                                <span>Charts</span>
                                <BbSidebarMenuChevron>
                                    <LucideIcon Name="chevron-right" Size="16" />
                                </BbSidebarMenuChevron>
                            </BbSidebarMenuButton>
                            <BbCollapsibleContent>
                                <BbSidebarMenuSub>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="charts/area">
                                            <span>Area Chart</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="charts/bar">
                                            <span>Bar Chart</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="charts/line">
                                            <span>Line Chart</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="charts/pie">
                                            <span>Pie Chart</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="charts/radar">
                                            <span>Radar Chart</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    @* Radial Chart — WIP, hidden from nav *@
                                </BbSidebarMenuSub>
                            </BbCollapsibleContent>
                        </BbCollapsible>
                    </BbSidebarMenuItem>
                </BbSidebarMenu>
            </BbSidebarGroup>

            <!-- Icons Section with Collapsible Submenu -->
            <BbSidebarGroup>
                <BbSidebarMenu>
                    <BbSidebarMenuItem>
                        <BbCollapsible Open="@_iconsMenuOpen" OpenChanged="@OnIconsMenuOpenChanged">
                            <BbSidebarMenuButton Tooltip="Icons">
                                <LucideIcon Name="smile" Size="18" />
                                <span>Icons</span>
                                <BbSidebarMenuChevron>
                                    <LucideIcon Name="chevron-right" Size="16" />
                                </BbSidebarMenuChevron>
                            </BbSidebarMenuButton>
                            <BbCollapsibleContent>
                                <BbSidebarMenuSub>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="icons/lucide">
                                            <span>Lucid Icons</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="icons/heroicons">
                                            <span>Heroicons</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="icons/feather">
                                            <span>Feather Icons</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                </BbSidebarMenuSub>
                            </BbCollapsibleContent>
                        </BbCollapsible>
                    </BbSidebarMenuItem>
                </BbSidebarMenu>
            </BbSidebarGroup>

            <!-- Guides Section -->
            <BbSidebarGroup>
                <BbSidebarMenu>
                    <BbSidebarMenuItem>
                        <BbCollapsible Open="@_guidesMenuOpen" OpenChanged="@OnGuidesMenuOpenChanged">
                            <BbSidebarMenuButton Tooltip="Guides">
                                <LucideIcon Name="book-open" Size="18" />
                                <span>Guides</span>
                                <BbSidebarMenuChevron>
                                    <LucideIcon Name="chevron-right" Size="16" />
                                </BbSidebarMenuChevron>
                            </BbSidebarMenuButton>
                            <BbCollapsibleContent>
                                <BbSidebarMenuSub>
                                    <BbSidebarMenuSubItem>
                                        <BbSidebarMenuSubButton AsChild="@SidebarMenuButtonElement.Anchor" Href="guides/animations">
                                            <span>Animations</span>
                                        </BbSidebarMenuSubButton>
                                    </BbSidebarMenuSubItem>
                                </BbSidebarMenuSub>
                            </BbCollapsibleContent>
                        </BbCollapsible>
                    </BbSidebarMenuItem>
                </BbSidebarMenu>
            </BbSidebarGroup>
        </BbSidebarContent>
    </BbSidebar>

    <BbSidebarInset Class="overflow-hidden">
        <header class="flex h-16 shrink-0 items-center gap-4 border-b bg-background px-4 z-10 focus:outline-none">
            <BbSidebarTrigger />
            <div class="ml-auto flex items-center gap-2">
                <CommandSearch />
                <AnimationToggle />
                <DarkModeToggle />
            </div>
        </header>

        <div id="main-content" class="flex-1 overflow-auto p-6 md:p-8">
            @Body
        </div>
    </BbSidebarInset>
</BbSidebarProvider>

<BbToastProvider Position="ToastPosition.BottomRight" />
<BbDialogProvider />
<BbPortalHost />
