@namespace BlazorBlueprint.Components
@using BlazorBlueprint.Icons.Lucide.Components

<div class="@CssClass" role="group" @attributes="AdditionalAttributes">
    <BbButton Variant="@Variant"
            Size="@Size"
            Disabled="@Disabled"
            OnClick="@OnClick"
            Icon="@Icon"
            IconPosition="@IconPosition"
            Class="@PrimaryButtonClass"
            AriaLabel="@AriaLabel">
        @ChildContent
    </BbButton>
    <BbDropdownMenu>
        <BbDropdownMenuTrigger AsChild="true">
            <BbButton Variant="@Variant"
                    Size="@DropdownButtonSize"
                    Disabled="@Disabled"
                    Class="@DropdownButtonClass"
                    AriaLabel="@(DropdownAriaLabel ?? "More options")">
                <LucideIcon Name="chevron-down" Size="16" />
            </BbButton>
        </BbDropdownMenuTrigger>
        <BbDropdownMenuContent Align="@PopoverAlign.End">
            @DropdownContent
        </BbDropdownMenuContent>
    </BbDropdownMenu>
</div>

@code {
}
