@namespace BlazorBlueprint.Components
@typeparam TValue where TValue : struct, System.Numerics.INumber<TValue>
@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime
@implements IAsyncDisposable

<div class="@ContainerClass">
    <input
        @ref="inputRef"
        id="@EffectiveId"
        name="@EffectiveName"
        type="text"
        inputmode="@InputMode"
        class="@CssClass"
        value="@DisplayValue"
        placeholder="@Placeholder"
        disabled="@Disabled"
        required="@Required"
        aria-label="@AriaLabel"
        aria-describedby="@AriaDescribedBy"
        aria-invalid="@EffectiveAriaInvalid"
        aria-valuemin="@(Min?.ToString())"
        aria-valuemax="@(Max?.ToString())"
        aria-valuenow="@Value.ToString()"
        role="@(ShowButtons ? "spinbutton" : null)" />
    @if (ShowButtons)
    {
        <div class="flex flex-col -my-px">
            <button
                type="button"
                tabindex="-1"
                class="@ButtonClass"
                disabled="@(Disabled || IsAtMax)"
                @onclick="Increment"
                aria-label="Increase value">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-3 w-3">
                    <path d="m18 15-6-6-6 6"/>
                </svg>
            </button>
            <button
                type="button"
                tabindex="-1"
                class="@ButtonClass"
                disabled="@(Disabled || IsAtMin)"
                @onclick="Decrement"
                aria-label="Decrease value">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-3 w-3">
                    <path d="m6 9 6 6 6-6"/>
                </svg>
            </button>
        </div>
    }
</div>
