@using BlazorBlueprint.Components.Components.Dialog.Internals.Shared
@inject DialogService DialogService


<DialogHeader Title="@Dialog.Title"
              Description="@Dialog.Description"
              TitleId="@TitleId"
              DescriptionId="@DescriptionId" />

<div class="flex flex-col-reverse sm:flex-row sm:justify-end sm:space-x-2">
    <BbButton Variant="ButtonVariant.Outline"
              OnClick="Cancel">
        @Dialog.Options.CancelText
    </BbButton>

    <BbButton Variant="@(Dialog.Options.Destructive ? ButtonVariant.Destructive : ButtonVariant.Default)"
              OnClick="Confirm">
        @Dialog.Options.ConfirmText
    </BbButton>
</div>

@code {
    [Parameter, EditorRequired]
    public ConfirmDialogData Dialog { get; set; } = default!;

    [Parameter] public string? TitleId { get; set; }
    [Parameter] public string? DescriptionId { get; set; }

    private void Cancel()
        => DialogService.Resolve(Dialog.Id, DialogResult.Cancel());

    private void Confirm()
        => DialogService.Resolve(Dialog.Id, DialogResult.Ok(true));
}
