@namespace BlazorBlueprint.Primitives.Checkbox

<CascadingValue Value="this" IsFixed="false">
    <button
        id="@Id"
        type="button"
        role="checkbox"
        aria-checked="@AriaCheckedValue"
        aria-disabled="@Disabled.ToString().ToLower()"
        aria-label="@AriaLabel"
        data-state="@DataState"
        disabled="@Disabled"
        tabindex="@(Disabled ? -1 : 0)"
        @onclick="HandleClick"
        @onkeydown="HandleKeyDown"
        @onkeydown:preventDefault="shouldPreventDefault"
        @attributes="AdditionalAttributes">
        @ChildContent
    </button>
</CascadingValue>
